@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    color-scheme: dark;
    /* @apply bg-black text-white; */
}

html,
body {
    padding: 0;
    margin: 0;
    display:grid;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    @apply items-center;
}

header {
    grid-area: header
}
main {
    grid-area: main
}
aside {
    grid-area: aside
}
footer {
    grid-area: footer
}

.wrapper {
    display: grid;
    grid-template-areas: 
        "header header header" 
        "aside main main"
        "aside footer footer";
    grid-template-rows: 40px 1fr 30px;
    grid-template-columns: min(25vw, 12rem) 1fr;
}

a { 
    color: inherit;
    text-decoration: none;
}


/* Selector Specificity: (0, 0, 1) */
button {
    @apply text-xs rounded-full shadow outline-blue-500 active:shadow-inner transition-all;
}

.card {
    @apply shadow-md block mb-4 border-gray-300 rounded-lg;
}

.btn-primary {
    @apply px-3 py-1.5 min-w-[56px] text-emerald-600 border-emerald-600 border hover:bg-amber-400 active:bg-amber-500;
}

.btn-default {
    @apply px-3 py-1.5 border text-gray-400 hover:bg-gray-300 active:bg-gray-400;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
