@tailwind base;
@tailwind components;
@tailwind utilities;


  /* or any other variables/style */
:root {
  --my-color: #000;
}
[data-theme='dark'] {
  --my-color: #000;
}
[data-theme='pink'] {
  --my-color: #ffabc8;
}

* {
    box-sizing: border-box;
}

html,
body {
    color-scheme: dark;
    padding: 0;
    margin: 0;
    /* @apply border-primary border; */
    /* background-color: var(--my-color); */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    @apply items-center;
}

header {
    grid-area: header
}
main {
    grid-area: main
}
aside {
    grid-area: aside
}
footer {
    grid-area: footer
}

.wrapper {
    display: grid;
    grid-template-areas: 
        "header header header" 
        "main main main"
        "footer footer footer";
    grid-template-rows: 40px 1fr auto;
    grid-template-columns: min(25vw, 12rem) 1fr;
}

a { 
    color: inherit;
    text-decoration: none;
}

/* https://daisyui.com/docs/colors/ */

/* Selector Specificity: (0, 0, 1) */
button {
    /* @apply text-xs rounded-full shadow outline-blue-500 active:shadow-inner transition-all; */
    @apply rounded-full;
    border-radius: 9999px !important;
}

.card {
    @apply shadow-md block mb-4 border border-base-100 rounded-lg;
}

.btn {
    /* @apply rounded-full; */
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        /* color: white; */
        /* background: black; */
    }
}
