@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body {
    color-scheme: dark;
    padding: 0;
    margin: 0;
    /* background-color: var(--my-color); */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
    grid-area: header
}
main {
    grid-area: main
}
aside {
    grid-area: aside
}
footer {
    grid-area: footer
}

.wrapper {
    /* @apply min-h-screen; */
    display: grid;
    grid-template-areas: 
        "header header header" 
        "main main main"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: min(25vw, 12rem) 1fr auto;
}

a { 
    color: inherit;
    text-decoration: none;
}

.card {
    @apply shadow-md block mb-4 border border-base-100 rounded-lg;
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        /* color: white; */
        /* background: black; */
    }
}

